.login {
	background-color: #f8f8f8;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.login__container {
	padding: 10rem;
	text-align: center;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.login__logo {
	height: 10rem;
	object-fit: contain;
	margin-bottom: 4rem;
}

.login__button {
	background-color: #0a8d48 !important;
	margin-top: 5rem !important;
	color: #fff !important;
	text-transform: inherit !important;
	font-size: 1.3rem !important;
	position: relative;
	z-index: 1;
	transition: all 0.5s ease !important;
}

.login__button:hover {
	transform: translateY(-4px);
}

.login__button::after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0a8d48 !important;
	border-radius: 4px;
	z-index: -1;
	transition: all 0.5s ease;
}

.login__button:hover::after {
	transform: scale(1.2, 1.8) translate(4px);
	opacity: 0;
}
